
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-container {
    display: flex;
    height: 400px;
    align-items: top;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 80%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
} 

/* div {
    background-color: #373737;
    font-size: 30px;
    color: #C2AFF0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

#override {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    background-color: lightblue;
}

#override2 {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
@media only screen and (max-width: 576px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .col {
        display: block;
        width: 80%;
    }
}

*/

